<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @comment.description %>
</p>

<p>
  <b>User:</b>
  <%= @comment.user %>
</p>

<p>
  <b>Blog entry:</b>
  <%= @comment.blog_entry %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
