<h1>Listing blog_categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @blog_categories.each do |blog_category| %>
  <tr>
    <td><%= blog_category.name %></td>
    <td><%= blog_category.description %></td>
    <td><%= blog_category.user %></td>
    <td><%= link_to 'Show', blog_category %></td>
    <td><%= link_to 'Edit', edit_blog_category_path(blog_category) %></td>
    <td><%= link_to 'Destroy', blog_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Blog category', new_blog_category_path %>
