<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blog_category.name %>
</p>

<p>
  <b>Description:</b>
  <%= @blog_category.description %>
</p>

<% if current_user_category?(@blog_category)%>
  <%= link_to 'Edit', edit_blog_category_path(@blog_category) %> |
<%else%>
  <p>
    <b>User:</b>
    <%= @blog_category.user.name %>
  </p>
<%end %>
<%= link_to 'Back', blog_categories_path %>
